{
  "presets": [
    ["env", {
      "targets": {
        "node": true
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["rewire"]
    },
    "production": {
      "presets": ["babili"]
    }
  }
}
